#!/usr/bin/env php
<?php
    require __DIR__ . '/vendor/autoload.php';
    use Lib\File\File;

    function namePrint()
    {
        echo "\033[0;36m    ###      ###    ####    ## ######## ##       \033[0m \n";
        echo "\033[0;36m  ##   ##  ##   ##  ## ##   ##    ##    ##       \033[0m \n";
        echo "\033[0;36m ##       ##     ## ##  ##  ##    ##    ##       \033[0m \n";
        echo "\033[0;36m  ##   ##  ##   ##  ##   ## ##    ##    ##       \033[0m \n";
        echo "\033[0;36m    ###      ###    ##    ####    ##    #######  \033[0m \n";
    }

    function views()
    {
        $start = time();

        $dir = basePath() . DIRECTORY_SEPARATOR . 'storage' . DIRECTORY_SEPARATOR . 'views';

        $files = scanDir($dir);

        foreach ($files as $file => $value) {
            if ($value === '.' || $value === '..') {
                continue;
            }

            $path = $dir . DIRECTORY_SEPARATOR . $value;
            File::removeFile($path);
        }

        $end = time();

        echo 'start :: ' . $start . "\n";
        echo 'end :: ' . $end . "\n";
        echo 'duration :: ' . ($end - $start) . "\n";
    }

    $count = count($argv);

    if ($count > 0 && $argv[0] === 'control' && $count > 1) {
        switch($argv[1]) {
            case 'view:clear': views(); break;
            case '-v': echo "\033[0;31m CONTROL PHP V 0.0.1 \033[0m \n"; break;
            case 'version': echo "\033[0;31m CONTROL PHP V 0.0.1 \033[0m \n"; break;
            case '-n': namePrint(); break;
            case 'name': namePrint(); break;
            case '-l': echo "\033[0;33m LICENSE MIT \033[0m \n"; break;
            case 'license': echo "\033[0;33m LICENSE MIT \033[0m \n"; break;
            case '-a': echo "\033[0;32m AUTHOR AMUR KHOYETSYN \033[0m"; break;
            case 'author': echo "\033[0;32m AUTHOR AMUR KHOYETSYN \033[0m"; break;
            default: echo $argv[1] . ': command not found'; break;
        }
    }

